/*<fichero>
<ficha id="1" fechaingreso="1/11/2012">
<nombre>Antonio</nombre>
<apellido>Barbero</apellido>
<direccion>Calle de Los Andes, 45</direccion>
</ficha>
</fichero>*/

/* Estilo general para centrar y dar formato */
fichero {   
    background-color: #4d3056;
}

/* Tarjeta */
ficha {
    display: block;
    background-color: #733a63;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 19px #ab4f75;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 15%;
}

/* Espaciado entre los elementos de la ficha */
ficha nombre,
ficha apellido,
ficha direccion{
    display: block;
    margin-bottom: 10px;
    color: #ffa89a;
    text-align: center;
    font-size: 24px;
}

enlace a{
    display: block;
    margin-bottom: 10px;
    color: #ffa89a;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}
